@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: hsl(14, 86%, 42%);
$text-color-1: hsl(14, 65%, 9%);
$text-color-2: hsl(7, 20%, 60%);

@font-face {
  font-family: "Red Hat Text";
  src: url("../../assets/fonts/RedHatText-VariableFont_wght.ttf")
    format("truetype");
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: "Red Hat Text", sans-serif;
}

.container{
  width: 300px;
  height: 350px;
  background-color: grey;
  position: relative;
}

.button{
  background-color: red;
  cursor: pointer;
  padding: 20px 45px;
  border-radius: 15px;
   border: 0;
   position: absolute;
   bottom: 0;
   left: 45%; 
   transform: translate(-50% , 50%);

}

.product-name {
  font-weight: 600;
  color: $text-color-1;
}

.product-category {
  font-size: 14px;
  color: $text-color-2;
}

.product-price {
  color: $primary-color;
  font-weight: 700;
}
